#corpo {
    background-color: darkgray;
}

.navbar {
    background-color: rgb(99, 163, 197);       
}

.navbar-nav li a{
    text-transform: uppercase;
}

.inicio-corpo {    
    text-align: center;
    font-style: italic;    
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagemLogo {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(190, 185, 185);
    border-radius: 100%;
}

.imagem-ti {
    width: 400px;
    height: 300px;
    display: inline-block;
    border: 2px solid whitesmoke;
    margin-bottom: 10px;
}

.carros {
    padding-top: 10px;
    padding-bottom: 80px;    
    font-size: larger;
    font-style: oblique;
    /* background-color: rgba(77, 77, 224, 0.694); */
}

.listaNaoOrdenada {
    list-style-type: circle;
    padding-left: 25px;
}

.listaNaoOrdenada li a{
    font-size: medium;
    font-style: italic;
    color: black;
    font-weight: bold;    
} 

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .6s;
}

.card:hover .card-front{
    transform: rotateX(-180deg);
}

.card:hover .card-back{
    transform: rotateX(0deg);
}

.card-back h3{
    margin: 60% auto 35% auto;
    font-size: 25px;
}

.card-back{
    font-size: 22px;
}

.card-front{
    border-radius: 5px;
    width: 100%; height: 100%;
    background-image: url(carro-2/carro-2.jpg);
    background-position: 50% 50%;
    background-size: cover;
    top: 0; left: 0;
    position: absolute;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .6s;
}

.card-back{
    border-radius: 5px;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .6z; color: aliceblue;
    text-align: center;
}

.card-back span{
    color: aqua;
    font-style: italic;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .6s;
}

.card:hover .card-frente{
    transform: rotateX(-180deg);
}

.card:hover .card-atras{
    transform: rotateX(0deg);
}

.card-atras h3{
    margin: 60% auto 35% auto;
    font-size: 25px;
}

.card-atras{
    font-size: 22px;
}

.card-frente{
    border-radius: 5px;
    width: 100%; height: 100%;
    background-image: url(fotos/carro-3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    top: 0; left: 0;
    position: absolute;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .6s;
}

.card-atras{
    border-radius: 5px;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .6z; color: aliceblue;
    text-align: center;
}

.card-atras span{
    color: aqua;
    font-style: italic;
}


.card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .6s;
}

.card:hover .carde-frente{
    transform: rotateX(-180deg);
}

.card:hover .carde-atras{
    transform: rotateX(0deg);
}

.carde-atras h3{
    margin: 60% auto 35% auto;
    font-size: 25px;
}

.carde-atras{
    font-size: 22px;
}

.carde-frente{
    border-radius: 5px;
    width: 100%; height: 100%;
    background-image: url(fotos/carro-4.jpg);
    background-position: 50% 50%;
    background-size: cover;
    top: 0; left: 0;
    position: absolute;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .6s;
}

.carde-atras{
    border-radius: 5px;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: black;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .6z; color: aliceblue;
    text-align: center;
}

.carde-atras span{
    color: aqua;
    font-style: italic;
}

.carros1{
    width: 475px;
    height: 350px;
    border-style: double;
}

.carros2{
    width: 475px;
    height: 350px;
    border-style: dotted;
    
}

#quemSomos{
    background-color: rgb(61, 164, 164);
}

#servicos {
    background-color: rgb(112, 40, 40);
    color: white;
}